.spinner {
  animation: spin 0.75s linear infinite;
  background: transparent;
  border-radius: 50%;
  border-top: 2px solid #da5a47;
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  width: 30px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app {
  display: flex;
}

#app * {
  box-sizing: border-box;
}

.section {
  border: 1px solid #29323d;
  padding: 10px;
}

.section.middle,
.section.right {
  border-left: 0;
}

.section__list-item {
  cursor: pointer;
  padding: 3px 0;
}

