{% set title = "Matrix Finder" %}
{% includeJsResource "matrixfinder/js/index.js" %}
{% includeCssResource "matrixfinder/css/styles.css" %}

{% extends '_layouts/cp' %}
{% set content %}

  <div id="app">

    <div class="section left">
      <ul class="section__list">
        <li class="section__list-item" v-for="field in matrixFields" @click="getMatrixBlockTypesByField(field)">
          <% field.name %>
        </li>
      </ul>
    </div>

    <div class="section middle" v-if="matrixBlockTypes.length">
      <ul class="section__list">
        <li class="section__list-item" v-for="matrixBlockType in matrixBlockTypes"
          @click="getEntriesUsingMatrixBlockType(matrixBlockType)">
          <% matrixBlockType.name %>
        </li>
      </ul>
    </div>

    <div class="section right" v-if="entries.length">
      <ul class="section__list">
        <li class="section__list-item" v-for="entry in entries">
          <% entry.title %>
          <a :href="entry.editUrl" class="edit icon" target="_blank"></a>
          <a :href="entry.url" class="icon" data-icon="world" target="_blank"></a>
      </ul>
    </div>

  </div>

  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
{% endset %}
